

.user-icon{
  position: absolute;
  right: 12.33%;
  top: 2.33%;
  width: 23.33px;
  height: 23.33px;
}

.user-name{
  position: absolute;
  right: 6.75%;
  top: 2.33%;
  height: 23.33px;
  font-size: 16px;
}

.user-mail{
  position: absolute;
  right: 4.4%;
  top: 4.33%;
  font-size: 12px;
  height: 23.33px;
}