.task_and_members_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    padding: 12px;
    border-radius: 7px;

    .tasks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #CDDCEE;
        padding-right: 10px;
    }
    
    .tasks p:first-child {
        color: #3C557A;
        font-size: 15px;
        font-weight: 700;
    }
    
    .tasks p:last-child {
        color: #717986;
        font-size: 12px;
    }
    
    .members {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
    
    .members p:first-child {
        color: #3C557A;
        font-size: 15px;
        font-weight: 700;
    }
    
    .members p:last-child {
        color: #717986;
        font-size: 12px;
    }
}

